@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f3f9ff;
    font-family: "Poppins";
}

.full-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100%;
    color: #003260;
}

header {
    margin-bottom: 30px;
}

header .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

header img {
    width: 100px;
    margin-right: 10px;
}

header h1 {
    margin-bottom: 0.5em;
}

header p {
    color: #555;
    max-width: 600px;
    margin: auto;
}

form {
    background-color: #fff;
    padding: 15px 25px 25px 25px;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-family: "Poppins" !important;
    font-size: 90%;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-family: "Poppins" !important;
    font-size: 90%;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #003260;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font-family: "Poppins" !important;
    transition: .3s;
    font-size: 100%;
}

button:hover {
    background-color: #e8349c;
}





.results-container {
    background-color: #fff;
    padding: 15px 25px 25px 25px;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
}

.results-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.results-left {
    text-align: left;
    font-weight: 700;
}

.results-right {
    text-align: right;
    font-weight: 200;
}